/*========================
     Google fonts file
 =========================*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/*========================
     Global CSS start
 =========================*/
body{
  font-family: 'Source Sans Pro', sans-serif;
}

a {
 text-decoration: none;
}

/*========================
   header1 section start
 =========================*/

.header1{
  background: #f5f7fa;
  border-bottom: 2px solid #e6e9ed;
}
.info ul{
 padding: 0;
   margin: 0;
  margin-top: 7px;
}
.info ul li{
  list-style: none;
  display: inline;
  margin-left: 16px;
  font-size: 10px;
}
.info ul li i{
  margin-right: 8px;
  font-size: 10px;
}
.info ul li a{
    color: #506a85;
}
.social-link ul{
  padding: 0;
  margin: 0;
  float: right;
  margin: 6px 0 8px 0;
}
.social-link ul li{
  list-style: none;
  display: inline;
  font-size: 14px;
}
.social-link ul li i{
  margin-right: 18px;
}
.social-link ul li a{
   color: #506a85;
}

/*========================
   header2 section start
 =========================*/
 .header2{
    padding: 20px 0;
 }
 .logo{
      width: 134px;
 }
 .navbar-nav{
     margin-left: 56px;
 }
.navbar-nav .nav-item{
    margin: 0px 7px;
  text-transform: uppercase;
 transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-item:hover{
   background: #00BC9C;
   transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-item:first-child{
  background: #00BC9C;
}
.navbar-nav .nav-item .nav-link{
 color: #506a85;
 font-weight: 900;
}
.form-box{
   position: relative;
}
.form-box .form-control{ 
  border-radius: 0;
  border: none;
  width: 30px;
    z-index: 1;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.form-box .fa-magnifying-glass{
position: absolute;
  right: 20px;
  top: 12px;
  font-size: 14px;
}
.form-control:focus{
  box-shadow: none;
  width: 200px;
  border-bottom: 2px solid #e6e9ed;
  border-right: 2px solid #e6e9ed;
  transition: all 0.2s ease-in-out;
}

/*========================
   Banner section start
 =========================*/
.banner-section{
 background: url(../image/bg-img.jpg) no-repeat center top;
 background-size: cover;
 padding: 150px 0;
}
.banner-section h1{
    text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 1px;
}
.banner-section p{
    text-align: center;
  padding: 0 235px;
  color: #a3b1bf;
    margin-bottom: 40px;
}
.banner-section .btn-main{
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 12px 36px;
  text-transform: uppercase;
  background: #00bc9c;
  color: #fff;
  font-weight: 700;
  border: none;
  z-index: 1;
}
.banner-section .btn-main::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E86B89;
    top: 0;
    left: -100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.banner-section .btn-main:hover::before{
  left: 0;
  transition: all 0.4s ease-in-out;
}
.banner-section .btn-main::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E86B89;
  top: 0;
  right: -100%;
  transition: all 0.4s ease-in-out; 
  z-index: -1;
}
.banner-section .btn-main:hover::after{
  right:  0;
  transition: all 0.4s ease-in-out;
}
/*========================
   details section start
 =========================*/

.details{
 padding: 100px 0;
}
.text-details h2{ 
    text-align: center;
  color: #506a85;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.text-details p{
   text-align: center;
  padding: 0px 285px;
    color: #506a85;
    font-weight: 500;
    margin-bottom: 50px;
}
.beauty-details i{
   float: left;
  color: #00bc9c;
  font-size: 48px;
  margin-right: 20px;
  margin-top: 7px;
}
.separate{
 overflow: hidden;
}
.separate h2{
 text-transform: capitalize;
  margin-bottom: 20px;
}
.separate p{
    padding: 0 17px 0 0;
  font-weight: 400;
  color: #506a85;
}

/*========================
   describe section start
 =========================*/
 .describe{
 padding: 100px 0;
 }
.describe h1{
  text-align: center;
  color: #506a85;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 14px;
}
.describe p{
padding: 0 283px;
  text-align: center;
  color: #506a85;
  font-size: 16px;
  font-weight: 600;
    margin-bottom: 30px;
}
.describe .btn-dash{
  position: relative;
  overflow: hidden;
   display: block;
  margin: 0 auto;
  padding: 10px 25px;
    font-size: 12px;
  text-transform: uppercase;
  background: #00bc9c;
  color: #fff;
  font-weight: 600;
  border: none;
  z-index: 1;
}
.describe .btn-dash::before{
   content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E86B89;
    top: 0;
    left: -100%;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.describe .btn-dash:hover::before{
   left: 0;
   transition: all 0.4s ease-in-out;
}
/*========================
  footer2 section start
 =========================*/

.footer2{
background: #283645;
padding: 20px 0 0 0;
}
.footer2 p{
  color: #707e8c;
  font-size: 14px;
}
.footer2 ul{
 padding: 0;
}
.footer2 ul li{
list-style: none;
  display: inline;
 margin-left: 10px;
  font-size: 14px;
}
.footer2 ul li a{
 color: #707e8c;
 text-transform: capitalize;
}
/*========================
  image section start
 =========================*/

.image-section{
      padding: 125px 0;
    background: #f2f5f7;
}
.image-section h1{
     text-align: center;
    margin: 0 0 20px 0;
    color: #506a85;
    font-weight: 600;
}
.image-section p{
     text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
    color: #73879c;
}
.col-sign{
  background: #fff;
  padding: 0 0 34px 0;
  margin: 0 0 85px 0;
}
.col-sign h2{
    text-align: center;
    margin-top: 34px;
    color: #506a85;
    font-size: 24px;
}
.col-sign p{
    text-align: center;
    color: #506a85;
    margin: 0;
}
.col-sign .image1{
     width: 100%;
}
.layers{
  
}

/*========================
  footer1 section start
 =========================*/
.footer1{
     background: #2f4052;
    padding: 100px 0;
}
.footer1 h2{
  color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 26px;
}
.footer-section img{
  margin-bottom: 20px;
}
.footer-section p{
   color: #a3b1bf;
    font-size: 12px;
}
.footer-section span{
 color: #a3b1bf;
}
.footer-section i{
      color: #a3b1bf;
    margin-left: 14px;
    font-size: 11px;
}
.footer-section a{
  
}
.footer-section2 img{
width: 100%;
}
.footer-section3 p{
     color: #a3b1bf;
    font-size: 12px;
}
.footer-section3 ul{
 padding: 0;
}
.footer-section3 ul li{
  list-style: none;
}
.footer-section3 ul li i{
     color: #a3b1bf;
    margin-right: 12px;
    font-size: 12px;
}
.footer-section3 ul li a{
 color: #a3b1bf;
    font-size: 12px;
}
.footer-section4 p{
      color: #a3b1bf;
    font-size: 11px;
}
.footer-section4 form{
  position: relative;
}
.footer-section4 form .forms{
 background: #4e5c6c;
    border: none;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: 500;
    padding: 0 0px 0px 6px;
    font-size: 18px;
}
.footer-section4 form .forms:hover{
  outline: none;
}
.footer-section4 .btn-hash{
    position: absolute;
     background: #00bc9c;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 5px 8px;
    font-weight: 700;
    font-size: 16px;
    display: block;
    top: 3px;
    right: 4px;
}


      /* responsive for mobile device */ 

@media (min-width: 320px) and (max-width: 576px){
 .social-link ul { margin: 10px 0 12px 0; float:none;}
 .social-link, .info {text-align: center;}
 .navbar-nav {margin-left: 0; margin-top: 20px;}
 .form-box .form-control {border: 2px solid #ededed; width: 100%;}
 .form-box { margin-top: 25px;}
 .form-control:focus{width: 100%;}
 .navbar-nav .nav-item {border-bottom: 2px solid #ededed;}
 .navbar-nav .nav-item:first-child {background: none;}
 .banner-section h1 {font-size: 58px; margin-bottom: 24px;}
 .banner-section p { padding: 0 ;}
 .details {padding: 75px 0 25px 0;}
 .text-details h2 { font-size: 28px;}
 .text-details p {padding: 0;}
 .beauty-details i {float: none; margin-right: 0; margin-top: 0; display: block; text-align: center; margin-bottom: 20px;}
 .separate h2 {font-size: 45px; font-weight: 600; text-align: center;}
 .separate p { padding: 0 35px; font-weight: 400; text-align: center; margin-bottom: 50px;}
 .image-section {padding: 75px 0 50px 0;}
 .image-section h1 { font-size: 35px;}
 .layers {width: 100%; display: block; margin: 0 0 40px 0;}
 .describe {padding: 75px 0;}
 .describe h1 {margin-bottom: 32px;}
 .describe p {padding: 0 ;}
 .footer1 h2 {font-size: 30px; margin-bottom: 22px; text-align: center;}
 .footer-section img {display: block; margin: 0 auto; margin-bottom: 24px;}
 .footer-section p {font-size: 14px; text-align: center;}
 .footer-section span {display: block; text-align: center; margin-bottom: 22px;}
 .footer-section2 img {margin-bottom: 30px;}
 .footer-section3{text-align: center;}
 .footer-section3 p {font-size: 14px; text-align: center;}
 .footer-section3 ul { margin: 0 0 35px 0;}
 .footer-section4 p {font-size: 14px; text-align: center; margin-bottom: 30px;}
 .footer2 p { text-align: center;}
 .footer2 ul {text-align: center;}
 .footer-section4 form {padding: 0 60px;}
 .footer-section4 .btn-hash {right: 64px;}
}